body{
	font-size:12px;
	font-family:Verdana;
	background-color:#EEA225;
	/*background-image:url('../img/fondoMainSpain.png');*/
	background-position:center;
}
TD{
	font-size:10px;
}
A, A:LINK, A:VISITED {
	text-decoration:none;
}
#contenedor {
	position:relative;
	top:-8px;
	left: -50px;
	width: 850px;
	height: 100%;
	background-color:#EEA225;
}
#main{
	position:absolute;
	top:0px;
	left:0px;
	margin-top:150px;
	padding-left:170px;
	text-align:center;
	height: 100%;
	background-position:bottom;
	background-repeat:no-repeat;
}

